
.params-container {
    border: 1px solid var(--text);
    border-radius: 5px;
    position: relative;
    margin-top: 32px;
    padding: 32px;
    counter-reset: params;

    .table-cell {
        position: relative;
        padding: 0px 4px;
        border: .5px solid #0002;

        input:focus-within {
            background-color: var(--background);
        }

    }
    

    &::before {
        content: 'PARAMS';
        position: absolute;
        padding: 0 4px;
        background-color: var(--background);
        top: -10px;
        left: 30px;
    }

    .param {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--text);
        border-radius: 5px;
        padding: 16px;
        padding-top: 32px;
        position: relative;
        margin-top: 16px;

        &::before {
            position: absolute;
            padding: 0 4px;
            background-color: var(--background);
            top: -10px;
            left: 10px;
            counter-increment: params;
            content: "Param " counter(params);
        }

        &>*{
            margin: 8px 0px;
        }
    }
}