@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    --background-color: #FFF2D7;
}
.page-container {
    margin-top: 50px;
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    .content-container{
        max-width: 800px;
        width: 100%;
        border-radius: 5px;
        padding: 16px;
        background-color: var(--background-color);
        position: relative;
        .page-heading{
            margin-bottom: 32px;
            text-align: center;
        }

        .dummy-btn{
            position: absolute;
            right: 16px;
            top: 16px;
        }

        .helper-msg{
            font-style: italic;
            opacity: .5;

            
        }

        .gen-json-container{
            margin: 16px 0px;
            display: flex;
            justify-content: center;
        }
    }
}